In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
data = pd.read_csv("/content/twitter4000.csv")

In [ ]:
data

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   twitts     4000 non-null   object
 1   sentiment  4000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 62.6+ KB

In [ ]:
data.count()

twitts       4000
sentiment    4000
dtype: int64

In [ ]:
data['sentiment'].value_counts()

sentiment
0    2000
1    2000
Name: count, dtype: int64

In [ ]:
pattern = r'\s'
data['twitts'].apply(lambda x: re.sub(pattern,'',x))

0             isboredandwantstowatchamovieanysuggestions?
1                        backinmiami.waitingtounboardship
2       @misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...
3                             ughhhiamsotiredblahhhhhhhhh
4       @mandagoforthmebad!It'sfunnythough.ZacharyQuin...
                              ...
3995                                       ijustgraduated
3996                     Templatingworks;itallhastobedone
3997                          mommyjustbroughtmestarbucks
3998        @omareppswatchingyouonaHousere-run...lovinit.
3999    ThanksfortryingtomakemesmileI'llmakeyour18thsp...
Name: twitts, Length: 4000, dtype: object

In [ ]:
pattern = r'\s'
data['twitts'].apply(lambda x: len(re.sub(pattern,'',x)))

0        43
1        32
2        54
3        27
4       116
       ...
3995     14
3996     32
3997     27
3998     45
3999     63
Name: twitts, Length: 4000, dtype: int64

In [ ]:
pattern = r'\s'
data['char_count'] = data['twitts'].apply(lambda x: len(re.sub(pattern,'',x)))
data

                                                 twitts  sentiment  char_count
0     is bored and wants to watch a movie  any sugge...          0          43
1              back in miami.  waiting to unboard ship           0          32
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0          54
3                     ughhh i am so tired  blahhhhhhhhh          0          27
4     @mandagoforth me bad! It's funny though. Zacha...          0         116
...                                                 ...        ...         ...
3995                                  i just graduated           1          14
3996          Templating works; it all has to be done            1          32
3997                   mommy just brought me starbucks           1          27
3998  @omarepps watching you on a House re-run...lov...          1          45
3999  Thanks for trying to make me smile I'll make y...          1          63

[4000 rows x 3 columns]

In [ ]:
data.sample(3)

                                                 twitts  sentiment  char_count
3764   On Vacation!!!!!!!! On the flight to India....            1          40
2774  @curtiswalker hahahah ok. but I am going to sl...          1          79
1211             @omgxitskatiexx  I want the real Adam!          0          32

In [ ]:
data['word_count'] = data['twitts'].apply(lambda x: len(x.split()))

In [ ]:
data

,twitts,sentiment,char_count,word_count
0,is bored and wants to watch a movie any sugge...,0,43,10
1,back in miami. waiting to unboard ship,0,32,7
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,54,12
3,ughhh i am so tired blahhhhhhhhh,0,27,6
4,@mandagoforth me bad! It's funny though. Zacha...,0,116,26
...,...,...,...,...
3995,i just graduated,1,14,3
3996,Templating works; it all has to be done,1,32,8
3997,mommy just brought me starbucks,1,27,5
3998,@omarepps watching you on a House re-run...lov...,1,45,8
3999,Thanks for trying to make me smile I'll make y...,1,63,16

In [ ]:
data_out = pd.read_csv("/content/twitter4000.csv")

In [ ]:
pattern = r'\w+@\w+.\w+'

In [ ]:
data['email'] = data['twitts'].apply(lambda x: re.findall(pattern = pattern, string = x))
data['email'].sample(5)

2498    []
916     []
361     []
3653    []
2999    []
Name: email, dtype: object

In [ ]:
data['email'].count()

np.int64(4000)

In [ ]:
data['email'].value_counts()

email
[]                               3994
[LOL@1-800]                         1
[vero21v@DevineNews I]              1
[dear@onicajay please]              1
[rb@Blippo]                         1
[RB@ultimateanswer]                 1
[markbradbury_16@hotmail.com]       1
Name: count, dtype: int64

In [ ]:
pattern = r'\b[A-Za-z0-9._%+-]+@[A-ZA-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
data['email']=data['twitts'].apply(lambda x: re.findall(pattern = pattern, string = x))
data['email']

data['email'].value_counts()

email
[]                               3999
[markbradbury_16@hotmail.com]       1
Name: count, dtype: int64

In [ ]:
pattern = r'\b[A-Za-z0-9._%+-]+@[A-ZA-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
data['email']=data['twitts'].apply(lambda x:"," .join(re.findall(pattern = pattern, string = x)))
data['email_count'] = data['email'].apply(lambda x:x.count(',')+1 if len(x)>0 else 0)

data['email'].sample(5)

1302
1833
407
1076
137
Name: email, dtype: object

In [ ]:
data['email'].head()

0
1
2
3
4
Name: email, dtype: object

In [ ]:
data['email_count'].value_counts()

email_count
0    3999
1       1
Name: count, dtype: int64

The code uses a regular expression to identify and extract email addresses from the `twitts` column. Let's break it down:

In [ ]:
pattern = r'\b[A-Za-z0-9._%+-]+@[A-ZA-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

# This line defines a regular expression pattern to match email addresses.
# - `\b`: Matches a word boundary, ensuring we match whole words.
# - `[A-Za-z0-9._%+-]+`: Matches one or more alphanumeric characters, dots, underscores, percent signs, plus signs, or hyphens (the username part).
# - `@`: Matches the literal '@' symbol.
# - `[A-ZA-Za-z0-9.-]+`: Matches one or more alphanumeric characters, dots, or hyphens (the domain name part).
# - `\.` : Matches a literal dot.
# - `[A-Z|a-z]{2,}\b`: Matches two or more uppercase or lowercase letters (the top-level domain like 'com', 'org', etc.), followed by a word boundary.

In [ ]:
data['email'] = data['twitts'].apply(lambda x: re.findall(pattern = pattern, string = x))

# This line applies the defined regular expression to each tweet in the 'twitts' column.
# `re.findall()` finds all non-overlapping matches of the pattern in the string and returns them as a list.
# A new column named 'email' is created in the DataFrame to store these lists of extracted email addresses.

In [ ]:
data['email'].value_counts()

# Finally, this line counts the occurrences of each unique list of email addresses found in the 'email' column.
# This helps you see which specific email addresses (or lack thereof, represented by '[]') appear most frequently in your dataset.